body {
  background-color: #2D242A;
  background: url("https://images3.alphacoders.com/100/thumb-1920-1005080.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  background-position: center;
  background-wigth: 100%;
  background-size: cover;
}

.text {
  color: white;
  z-index: 0;
  
  text-align: center;
  text-size-adjust: none;
  
  -ms-user-select;
  -moz-user-select;
  -khtml-user-select;
  -webkit-user-select;
}

.back {
  content: '';
  z-index: 1;
  
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  
  background: rgb(17,16,20,0.5);
}